<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="flex-container">
        
        <%- include("./partials/sidebar.ejs") %>
         
        <div class="content-flex-container">
            <p>404</p>
            
            <%- include('./partials/floating-logo.ejs') %>
        </div>
    </div>

</body>

</html>