<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="flex-container">
        
        <%- include("./partials/sidebar.ejs") %>
         
        <div class="content-flex-container">
            <div class="content">
                <form id="create-note-form" action="/daily-notes" method="POST">
                    <div>
                        <label for="title">Title</label>
                        <input type="text" name="title" required>
                    </div>
                    <div>
                        <label for="date">Date</label>
                        <input type="date" name="date">
                    </div>
                    <div>
                        <label for="snippet">Snippet</label>
                        <textarea name="snippet" class="snippetTextArea" placeholder="Insert snippet" rows="4" required></textarea>
                    </div>
                    <div>

                        <!-- 
                        1. fix TEXTAREA name
                        2. reset addLessonItemEntryButton default
                        3. addLessonItemEntryButton - redefine function so that lessonItemEntry increments
                        4. Test if it works by printing req.body on app.js 
                        -->
                        <label for="body[]">Lesson(s) learned</label>
                        <div class="bodies">
                            <textarea name="body[]" class="bodyTextArea" rows="4" required></textarea>
                        </div>
                        <button id="addBodyTextAreaButton">Add lesson entry</button>
                        <button id="deleteBodyTextAreaButton">Delete lesson entry</button>
                        
                    </div>
                    <button>Submit</button>
                </form>
            </div>
            <%- include('./partials/floating-logo.ejs') %>
        </div>
    </div>
    <script>
        const addLessonItemEntryButton = document.getElementById("addLessonItemEntryButton");

        addBodyTextAreaButton.addEventListener("click", (e) => {
            e.preventDefault();
            var bodies = document.querySelector(".bodies");
            var input = document.createElement("textarea");
            input.rows = 4;
            input.name = "body[]";
            input.className = "bodyTextArea";
            bodies.appendChild(input);
        });

        const deleteLessonItemEntryButton = document.getElementById("deleteLessonItemEntryButton");
        deleteBodyTextAreaButton.addEventListener("click", (e) => {
            e.preventDefault();
            var bodies = document.querySelector(".bodies");
            var textAreas = document.querySelectorAll(".bodyTextArea");
            var lastBodyTextArea = bodies.lastElementChild;
            if (textAreas.length>1) bodies.removeChild(lastBodyTextArea);
        });

        // submitButton.addEventListener("click", e => {
        //     e.preventDefault();
        //     const title = document.getElementsByClassName("titleTextInput").value;
        //     const snippet = document.getElementsByClassName("snippetTextArea").value;
        // });

    </script>
</body>

</html>