<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="flex-container">
        
        <%- include("./partials/sidebar.ejs") %>
         
        <div class="content-flex-container">
            <h1 id="mock-projects">Mock Projects</h1>
            <div class="content-grid-container">
                <div class="mock-project-entry">
                    <a href="./mock-projects/tribute-page/index.html">Tribute Page</a>
                </div>
                <div class="mock-project-entry">
                    <a href="./mock-projects/responsive-site-01/index.html">Responsive Site Exercise # 1</a>
                </div>
                <div class="mock-project-entry">
                    <a href="./mock-projects/form-01/index.html">Form # 1</a>
                </div>
            </div>
            <%- include('./partials/floating-logo.ejs') %>
        </div>
    </div>

</body>

</html>