@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* border: red 1px solid; */
  color: #282846;
}

body {
  /* overflow-y: hidden; */
  background-color: #fed049;
}

h1 {
  font-family: "Roboto", sans-serif;
}
.flex-container {
  display: flex;
  flex-flow: row;
  width: min(80%, 70.5rem);
  margin: 0 auto;
  color: #282846;
}

@media (max-width: 500px) {
  .flex-container {
    width: 100%;
    flex-flow: column;
  }
}

.sidebar-flex-container {
  flex: 0 0 30%;
  flex-flow: column nowrap;
  text-align: left;
  background: #fed049;
  margin-top: 5%;
}

@media (max-width: 500px) {
  .sidebar-flex-container {
    order: 2;
    margin: 5% 0%;
  }
}

.nav-container {
  background-color: #f0d996;
  border-radius: 5px;
  padding: 5% 0 5% 5%;
}

@media (max-width: 500px) {
  .nav-container {
    /* padding: 0; */
    padding: 0% 2%;
  }
}

.sidebar h1,
h2 {
  margin-top: 5%;
}
.sidebar h1 {
  font-size: 2rem;
}

.menu ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #282846;
}

.menu a:active {
  color: #007580;
}

.sidebar h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.about p {
  font-size: 0.8em;
  padding: 0px 40px 0px 5px;
}

@media (max-width: 500px) {
  .about {
    margin: 0% 2%;
  }
}

.content-flex-container {
  flex: 1 1 70%;
  /* overflow-y: auto; */
  background-color: #d8ebe4;
  color: #282846;
}

@media (max-width: 500px) {
  .content-flex-container {
    order: 1;
  }
}

.content {
  margin: 0 auto;
  width: 90%;
  margin-top: 7%;
  margin-bottom: 5%;
}

.content-intro {
  text-align: center;
  margin-bottom: 2%;
  /* font-size: 1rem; */
  text-transform: uppercase;
  font-weight: 900;
}

.daily-notes-flexcontainer {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-row-gap: 15px; */
}

/* @media (max-width: 900px) {
  .daily-notes-flexcontainer {
    grid-template-columns: 1fr;
  }
} */

.daily-notes-entry {
  /* flex-basis: 50%; */
  padding: 10px 10px 10px 10px;
}

/* .daily-notes-entry:hover {
  background-color: #007580;
  color: #d8ebe4;
} */

.daily-notes-entry h1,
.blog-entry h1 {
  font-size: 1.25rem;
  text-align: left;
}

.daily-notes-entry p,
.blog-entry p {
  margin-bottom: 0.5em;
}

.DLE-date {
  margin-bottom: 5%;
}

.daily-learning-entry h2 {
  font-size: 1.25rem;
}

.daily-learning-entry p {
  line-height: 130%;
  margin-bottom: 1em;
}
.daily-notes-links {
  text-decoration: none;
}

.blog-entry-edit-options {
  margin-bottom: 2%;
}

/* .blog-entry h1 {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 2%;
} */

.logo {
  width: 20%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 50%;
}

.logo:hover {
  opacity: 100%;
}

#create-note-form {
  width: 75%;
  margin: 0 auto;
}

div > input,
textarea {
  display: block;
  width: 100%;
}

#create-note-form > div {
  margin-bottom: 1rem;
}

.bodyTextArea {
  margin-bottom: 0.5rem;
}
.date {
  font-style: italic;
  font-size: 0.8rem;
}
